.shimmer-container{

   
  
    padding: 0px 50px 5px 130px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: -10px;
   
   
}
.shimmer-top{
    display: flex;
    justify-content: space-between;
}
.shimmer-card-body-upper{

    
    
    border-radius: 20px;
    width: 200px;
    height:146px;
    margin: 20px;
    background-color: #EDEFF2;


}

.shimmer-card-bottom-first{

    
    background-color: #EDEFF2;
    width:170px;
    height: 20px;
    margin: 20px;
}

.shimmer-card-bottom-second{

    
    background-color: #EDEFF2;
    width:145px;
    height: 20px;
    margin: 20px;
}

.shimmer-btn{

    background-color:#EDEFF2;
    margin: 15px ;
    margin-left: 70px;
    border: 1px solid #EDEFF2;
   
    padding: 12px 25px;
   
   
 
    border-radius: 12px;
    width: 150px;
    height: 40px;
    
}

.shimmer-btn-search{

    background-color:#EDEFF2;
    margin: 15px ;
    margin-right: 70px;
    border: 1px solid #EDEFF2;
    padding: 12px 25px;
    border-radius: 12px;
    width: 250px;
    height: 40px;


}


.shimmer-msg{

  
    position: relative;
    width:85%;
   
    color:#3D4152;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
 
    
}

